@import '../../../config-scss/rem-calc.scss';

:host {
  display: block;

  span {

    display: block;

    margin: rem-calc(10) 0;

    height: rem-calc(7);

    color: var(--red);
    font-size: rem-calc(12);
    letter-spacing: normal;
  }
}
