@import "../../../config-scss/rem-calc.scss";

:host {
  .form-card {
    margin-top: rem-calc(55);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-family: var(--fontFamily);
    font-size: rem-calc(12);
    font-weight: 500;
    letter-spacing: rem-calc(3);
    color: var(--veryDarkViolet);

    label {
      input {
        margin-top: rem-calc(10);
      }
    }

    &__name,
    &__number {
      width: 100vw;
      margin-bottom: rem-calc(25);
      input {
        width: 100%;
      }
    }

    &__date,
    &__cvc {
      align-self: self-start;
      width: 42.5vw;
    }

    &__date {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: start;
      letter-spacing: rem-calc(2.5);
      input {
        width: 47%;
      }
    }

    &__cvc {
      input {
        width: 100%;
      }
    }

    button {
      margin-top: rem-calc(35);
    }
  }
  @media (min-width: 376px) {
    .form-card {
      align-items: center;
      justify-content: space-between;

      width: rem-calc(500);

      font-size: var(--fontSize);

      &__date,
      &__cvc {
        width: rem-calc(240);
      }
    }
  }

  @media screen and (min-width: 424px) and (max-width: 767px) {
    .form-card {
      width: rem-calc(360);

      justify-content: space-between;

      font-size: rem-calc(12);

      &__date,
      &__cvc {
        width: rem-calc(160);
      }
    }
  }
}
